##########################################
# Atavism Game Launcher Config
##########################################
# For Version 21.x.x.x
##########################################
# Do not include trailing backslashes
##########################################
BaseConfigPackageVersion=21.12.4.1
GameName=Launcher Demo Game 2
PublisherName=Something Corp
LauncherDownloadRootURL=https://ArcanicaEntertainment.com/Downloads/GameFiles/Kitsunia Online/Dev/Launcher