##########################################
# Atavism Game Launcher Config
##########################################
# For Version 21.x.x.x
##########################################
# Do not include trailing backslashes
##########################################
BaseConfigPackageVersion=21.12.4.1
GameName=SomeGame Online
PublisherName=Something Corp
LauncherDownloadRootURL=https://visuaFUSION.com/Downloads/SomeGame Online/Dev/Launcher